@import url("https://smc.org.in/fonts/manjari.css");
@import url("https://rsms.me/inter/inter.css");
:root {
  --primary-color: hsl(191.8, 100%, 40.8%);
  --bg-color: hsl(191.8, 100%, 100%);
  --text-color: hsl(191.8, 100%, 10.8%);
  --white:  hsl(191.8, 100%, 98%);
}

html {
  font-family: "Inter", "Manjari", sans-serif;
}

textarea {
  font-family: "Inter", "Manjari", sans-serif;
}

body {
  color: var(--text-color);
  font-size: 14px;
  background-color: var(--bg-color);
  margin: 0;
}

header {
  padding: 1em;
  background: var(--primary-color);
  color: var(--white);
}

a {
  color: var(--primary-color);
}

footer {
  padding: 0.8em;
  font-size: 1em;
  border-top: 1px solid var(--primary-color);
}

h1 {
  margin: 0;
  padding: 10px 0;
}

.container {
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  padding: 1em;
  background-color: var(--bg-color);
}

.source-container,
.target-container {
  height: 60vh;
  font-family: "Inter", "Manjari", sans-serif;

}

.actions {
  justify-content: center;
  width: 100%;
  align-self: center;

}

.actions > button {
  font-size: 24px;
  font-weight: 900;

  cursor: pointer;
  margin-top: 4px;
  padding: 8px;
  display: block;
  align-self: center;
  margin: 30px auto;
  background: var(--primary-color);
  border: none;
  color: white;
  border-radius: 4px;
}

#en_content,
#ml_content {
  padding: 1em;
  font-size: 1.2em;
  resize: none;
  width: 100%;
  height: 96%;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

progress {
  grid-column: span 12;
  height: 8px;
  width: 100%;
  display: none;
}

.lang-title {
  font-size: 20px;
  width: 100%;
  font-weight: 400;
  margin: 0;
  padding: 5px;
}

.lang-title.lang-en{
  justify-self: start;
}

.lang-title.lang-ml{
  justify-self: end;

}