<html lang="en">
    <head>
        <title>English-Malayalam Machine translation</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <header>
            <h1>English-Malayalam Machine translation</h1>
        </header>
        <main class="container">

            <section class="source-container row">
                <textarea id="source_content">Hello! Welcome. This is a machine translation system.</textarea>
            </section>

            <section class="actions row">
                <button class="col" onclick="doTranslate('en', 'ml')">Translate to മലയാളം</button>
                <button class="col" onclick="doTranslate('ml','en')">Translate to English</button>
            </section>
            <section class="target-container row">
                <progress id="progress"></progress>
                <section id="target_content"></section>
            </section>
        </main>
        <footer>
            <p>This system uses <a href="https://huggingface.co/transformers/">huggingface transformers</a> with <a href="https://ai.facebook.com/research/no-language-left-behind/">NLLB language models for translation.</a> Translation might be slow as this system does not run on GPU powered computer</p>

        </footer>
        </footer>
    </body>

</html>